@tailwind base;
@tailwind components;
@tailwind utilities;

   @layer base {
      body {

        @apply min-h-screen;
      }
    }
* {
    font-family: "Poppins";
  }
  /* .animate-custom {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;
    animation: zoom 10s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
} */
/* 
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 100 900;
  font-display: swap;
} */
